@charset "UTF-8";

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-box {
    width: 24%;
    height: auto;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #888;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
}

.projects-box img {
    width: 100%;
    height: auto; /* 高さを固定したいなら 200px などにする */
    display: block;
}
